@model KongreForm.Models.KullaniciViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Yeni Kullanıcı Olustur</h2>

@using (Html.BeginForm("Create", "Kullanici", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="row">
    </div>
   

    <div class="row">
        <div class="form-horizontal " method="post">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })


            <div class="form-group">
                @Html.LabelFor(model => model.Email, "Email", htmlAttributes: new { @class = "col-lg-2 control-label " })
                <div class="col-lg-5">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" ,@type = "email" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Parola, "Parola", htmlAttributes: new { @class = "col-lg-2 control-label " })
                <div class="col-lg-5">
                    @Html.EditorFor(model => model.Parola, new { htmlAttributes = new { @class = "form-control", @type = "password" } })
                    @Html.ValidationMessageFor(model => model.Parola, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Ad, "Ad", htmlAttributes: new { @class = "col-lg-2 control-label " })
                <div class="col-lg-5">
                    @Html.EditorFor(model => model.Ad, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Ad, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Soyad, "Soyad", htmlAttributes: new { @class = "col-lg-2 control-label " })
                <div class="col-lg-5">
                    @Html.EditorFor(model => model.Soyad, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Soyad, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                <span class="control-label col-lg-2">Admin mi?</span>
                <div class="col-lg-5">
                    @Html.DropDownListFor(model => model.AdminMi, new List<SelectListItem> {
             new SelectListItem{ Value = true.ToString(), Text = "Evet" },
             new SelectListItem{ Value = false.ToString(), Text = "Hayır" },
           }, "Lütfen seçim yapınız", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.AdminMi, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-lg-5">
                    <button class="btn btn-default">
                        Olustur
                        <i type="submit" value="Olustur" aria-hidden="true" />
                    </button>
                </div>
            </div>

        </div>
        </div>
        }




        @if (ViewBag.KullaniciMevcutUyari != null)
        {

            <div class="alert alert-block alert-danger fade in">
                <button data-dismiss="alert" class="close close-sm" type="button">
                    <i class="icon-remove"></i>
                </button>
                @ViewBag.KullaniciMevcutUyari
            </div>


        }
        @if (ViewBag.BasariliUyari != null)
        {

            <div class="alert alert-success fade in">
                <button data-dismiss="alert" class="close close-sm" type="button">
                    <i class="icon-remove"></i>
                </button>
                @ViewBag.BasariliUyari
            </div>


        }

